#page-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bg-primary {
    background: radial-gradient(ellipse at top right, #0c1c36 0%, #121313 35%, #121313 100%);
  }

  .initial-content {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      height: 110px;
      width: 100%;
      max-width: 1100px;
  
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 10px 0;

      animation: animInHeader ease-in-out 1s;

      @keyframes animInHeader {
        0% {
          opacity: 0;
          transform: translateY(-75px);
        } 100% {
          opacity: 1;
        }
      }
  
      nav{
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: 50px;

          &:hover {
            animation: bounce 1s;
            animation-iteration-count: infinite;

            @keyframes bounce {
              0%, 100%, 20%, 50%, 80% {
                -webkit-transform: translateY(0);
                -ms-transform:     translateY(0);
                transform:         translateY(0)
              }
              40% {
                -webkit-transform: translateY(-30px);
                -ms-transform:     translateY(-30px);
                transform:         translateY(-30px)
              }
              60% {
                -webkit-transform: translateY(-15px);
                -ms-transform:     translateY(-15px);
                transform:         translateY(-15px)
              }
            }
          }
        }
  
        a {
          margin-left: 80px;

          color: rgba(244, 244, 244, 0.4);
          text-decoration: none;

          transition: 0.5s;

          &:hover {
            color: rgba(244, 244, 244, 0.6);

            transform: rotate(-2deg) scale(1.1);
          }
        }
      }
  
      button {
        padding: 16px 24px;
  
        color: rgba(244, 244, 244, 0.4);
        border: 1px solid #a3a4a680;
        border-radius: 9999px;
        background-color: rgba(0,0,0,0);
        box-shadow: 0px 0px 0px black;

        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: #f4f4f4;
          border-color: #f4f4f4;
          transform: matrix(1, 0, 0, 1, -10, -10,);
          box-shadow: 10px 10px 0px black;
        }
      }
    }

    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      margin-bottom: 50vh;

      animation: animLoopBanner ease-in-out 5s infinite;

      @keyframes animLoopBanner {
        0% {
          transform: scale(1);
        } 50% {
          transform: scale(1.02);
        } 100% {
          transform: scale(1);
        }
      }

      h1 {
        color: #f4f4f4;
        font-size: 6rem;
        line-height: 7rem;

        margin-top: 100px;

        animation: animInH1 ease-in-out 0.8s;

        @keyframes animInH1 {
          0% {
            opacity: 0;
            transform: translateY(150px);
          } 100% {
            opacity: 1;
          }
        }
      }

      p {
        color: rgba(244, 244, 244, 0.4);
        line-height: 2;

        width: 100%;
        max-width: 480px;
        margin-top: 25px;

        animation: animInP ease-in-out 0.8s;

        @keyframes animInP {
          0% {
            opacity: 0;
            transform: translateY(75px);
          } 100% {
            opacity: 1;
          }
        }
      }

      button {
        position: relative;
        padding: 16px 26px;
  
        color: #fff;
        box-shadow: 1px 1px 144px #387aff;
        font-size: 18px;

        background-image: linear-gradient(to right, #4B85FA 0%, #246BFE  100%);
        border: 1px solid rgba(244, 244, 244, 0.16);
        border-radius: 9999px;
        background-color: rgba(0,0,0,0);

        margin-top: 50px;
        margin-bottom: 100px;

        animation: animInButton ease-in-out 1.5s;

        @keyframes animInButton {
          0% {
            opacity: 0;
          } 50% {
            opacity: 0;
          } 100% {
            opacity: 1;
          }
        }

        cursor: pointer;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1) rotate(-1deg);
        }

        &::before {
          content: '';
          width: 29px;
          height: 31px;
          position: absolute;
          top: -16px;
          left: -20px;
          background-image: url('../../images/highlight-01.png');
          background-size: contain;
        }
      }
    }
  }

  .print-product {
    position: relative;

    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 1100px;

      position: absolute;
      top: -50vh;
      z-index: 10;

      filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.5));

      animation: animInImage ease-in-out 1.5s;

      @keyframes animInImage {
        0% {
          opacity: 0;
          transform: translateY(500px);
        } 100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .image-container {
      width: 100%;
      max-width: 1100px;
      position: relative;

      &::before {
        content: '';
        height: 50px;
        width: 50px;
        position: absolute;
        top: -54vh;
        right: -35px;
        transform: rotate(90deg);
        background-image: url('../../images/highlight-01.png');
        background-size: contain;

        animation: BeforeAnim 5s;

        @keyframes BeforeAnim {
          0% {
            opacity: 0;
          } 100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .partners-section {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;
    
    p {
      font-size: 18px;
      color: rgba(30, 30, 32, 0.32);
      font-weight: 700;

      margin-bottom: 20px;
    }

    .partners-container {
      width: 100%;
      max-width: 500px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;

      margin-bottom: 100px;
      object-fit: contain;

      img {
        box-sizing: border-box;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
        object-fit: contain;
        width: 200px;
        height: 100px;
        flex: 1;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  .features-section {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .features-info {
      text-align: center;
      width: 100%;
      max-width: 700px;

      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 3.75rem;
        font-weight: 800;
        color: #1e1e20;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        color: rgba(30, 30, 32, 0.4);
        
        width: 90%;
        margin-top: 25px;
      }
    }

    .features-elements {
      width: 100%;
      max-width: 1100px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-top: 120px;
      margin-bottom: 150px;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      div {
        flex: 1;
        min-width: 230px;

        @media (max-width: 768px) {
          padding: 0 50px;
        }

        &:not(:last-child) {
          margin-right: 30px;
          
          @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }

      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 4;
        color: rgba(30, 30, 32, 0.8);
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        color: rgba(30, 30, 32, 0.32);
      }
    }
  }

  .extra-info-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50vh;

    h2 {
      font-size: 3.75rem;
      line-height: 1.3;
    }

    p {
      color: rgba(244, 244, 244, 0.4);
      font-size: 16px;
      line-height: 2;

      margin-top: 25px;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    button {
      padding: 16px 24px;
      margin-top: 25px;

      color: rgba(244, 244, 244, 0.4);
      border: 1px solid #a3a4a680;
      border-radius: 9999px;
      background-color: rgba(0,0,0,0);
      box-shadow: 0px 0px 0px black;

      cursor: pointer;
      transition: 0.2s;
    }

    .image {
      flex: 4;
    }

    .text {
      flex: 3;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
      color: #F4F4F4;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 1100px;
    }

    .about-01 {
      margin-top: 200px;

      button:hover {
        color: #f4f4f4;
        border-color: #f4f4f4;
        transform: matrix(1, 0, 0, 1, -10, -10,);
        box-shadow: 10px 10px 0px black;
      }
    }

    .about-02 {
      margin-top: 150px;

      button:hover {
        color: #f4f4f4;
        border-color: #f4f4f4;
        transform: matrix(1, 0, 0, 1, 10, -10,);
        box-shadow: -10px 10px 0px black;
      }
    }
  }

  .join-section {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url('../../images/frame-join.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    border-radius: 50px;
    padding: 50px 0;
    margin-bottom: 120px;
    margin-top: -25vh;

    h2 {
      color: #f4f4f4;
      font-size: 3.75rem;
      line-height: 1.3;
      font-weight: 800;
    }

    p {
      color: rgba(244, 244, 244, 0.4);
      font-size: 16px;
      line-height: 2;
      font-weight: 500;
    }

    button {
      position: relative;
      padding: 16px 26px;

      color: #1e1e20;
      box-shadow: 1px 1px 144px #387aff;
      font-size: 18px;

      border: 1px solid rgba(244, 244, 244, 0.16);
      border-radius: 9999px;
      background-color: #f4f4f4;

      margin-top: 25px;

      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1) rotate(-1deg);
      }
    }

    div {
      width: 100%;
      max-width: 700px;
    }
  }

  .footer {
    border-top: 1px solid rgba(30, 30, 32, 0.24);

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .grid-area {
      padding: 100px 0 80px 0;

      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;

      width: 100%;
      max-width: 1200px;

      .business {
        p {
          max-width: 305px;
          margin-top: 20px;

          color: rgba(30, 30, 32, 0.24);
          font-weight: 700;
          line-height: 2;
        }
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4 {
          color: rgba(30, 30, 32, 0.64);
          font-weight: 700;
          margin-bottom: 50px;
        }

        a {
          color: rgba(30, 30, 32, 0.24);
          text-decoration: none;
          font-weight: 500;

          transition: 0.5s;

          &:hover {
            color: rgba(30, 30, 32, 0.75);
          }

          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .final-infos {
      width: 100%;
      max-width: 1200px;
      margin-bottom: 25px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: rgba(30, 30, 32, 0.24);
      text-decoration: none;
      font-weight: 500;
    }
  }
}


