* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: #fff;
}

body, input, button, textarea {
  font: 400 16px manrope, sans-serif;
}

::selection {
  color: black;
  background: white;
}
